<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/img/logo.png') }}">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/style/app.css') }}">

    {% endblock %}


</head>
<body>
{% block body %}
    {% include 'inc/header.html.twig' %}


{% include 'inc/footer.html.twig' %}


{% endblock %}

</body>
</html>